@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

:root {
  --main-color: #00bdef;
  --secondary-color: #f89738;
  --grey-color: #c0c0c0;
  --white-color: #ffffff;
  --soft-white:#F9F8F6;
  --almost-black:#202020;
}

* {
  box-sizing: border-box;
    scrollbar-width:none;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1d1d1d;
  min-height: 100vh;
  
}
.app-background{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(135deg, 
    #E9E8E8 0%, 
    #d1cfcf 60%, 
    #C3C5C3 95%, 
    #b7b5b5 100%
  );
  position:fixed;
  top:0;
  left:0;
  z-index: -1;
}

/*        Header      */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:2vw;
  padding:0 2vw;
  height: 48px;
  width:min(1920px,100vw);
  margin-top: 18px;
}
nav a{
  color:black;
  text-decoration: none;
  
}
.logo{
  display: flex;
  align-items: center;
  gap:1vw;

}
.links{
  display: flex;
  gap:2vw;
  align-items: center;
  height: 100%;
  
}

.mainLinks{
  display: flex;
  gap:2vw;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--soft-white);
  border-radius: 40px;
  padding:2.8px;
  border:1px solid white;
}
.mainLinks a{
  padding:0 1.2vw;
  height: 100%;
  border-radius: 40px;
    display: flex;
  justify-content: center;
  align-items: center;
  transition:0.3s ease;
}
.mainLinks a:hover:not(.active){
  background-color: rgb(221, 218, 218);
}
.active{
  background-color: var(--almost-black);
  color:white;

}
.secondaryLinks{
  display: flex;
  gap:1vw;
  align-items: center;
  height: 100%;

}
.secondaryLinks a{
  background-color: var(--soft-white);
  height: 48px;
  width: 48px;
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border:1px solid white;
}
.profile-picture{
  margin-left:2vw;
  display: flex;
  align-items: center;
  height: 100%;
  gap:1vw;
}
.profile-picture .name-title p{
  margin:0;
}
.profile-picture .name-title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
  padding:1px 0;
}
.profile-picture .name-title>:first-child{
  background-color: var(--soft-white);
  color:tomato;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
}

